<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

{% include 'js.html' %}
{% include 'style.html' %}
{% block head %}
{% endblock %}

{% set proj = md['title'] or 'Browse ASE Database' %}

    <title>{% block title %}{% endblock %}</title>

  </head>

  <body {% block BodySettings %}{% endblock %}>

    <div class="container" style="padding: 0px;">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="https://cmr.fysik.dtu.dk/">CMR</a>
              </li>
              <li>
                <a href="https://cmr.fysik.dtu.dk/{{ project }}/{{ project }}.html">
                More information</a>
              </li>
{% if back %}
              <li>
                <a href="/{{ project }}/">Back to search page</a>
              </li>
{% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div> <!--end of container-->

{% if project == 'c2db' %}
C2DB-logo
{% endif %}

{% block content %}
{% endblock %}

<div class="text-center">
This work is licensed under a
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br/>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
<img alt="Creative Commons License" style="border-width:0"
src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
</div>

</body>
</html>
